body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
#todoContainer{
    width: 300px;
    position: fixed;
    right: 80px;
    top: 100px;
    background: white;
    padding: 40px;
    border-radius: 5px;
}
h1{
    text-align: center;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
input[type="text"]:hover {
    border: 2px solid #2ddd0a;
}
ul li:hover {
    background-color: #616e64;
    color: white;
    border: white 3px solid;
}
ul li .delete-btn:hover {
    color: #a71d2a;
}
ul li .delete-btn:active {
    transform: scale(0.95);
}
#list{
    margin-top: 50px;

    align-items: center;
    /* background-color: aqua; */
    padding: 10px;
    border-radius: 5px;
    width: 800px;
    overflow-y: auto;
    margin-left: 30px;

}
button {
    width: 100%;
    padding: 8px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;

}



li {
    padding: 8px;
    background: #eee;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: #616e64 1px solid;
}


.delete-btn {
    color: red;
    cursor: pointer;
}